<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Free Bulma template</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.6.0 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" integrity="sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="../css/blog.css">
</head>
<body background="http://getwallpapers.com/wallpaper/full/8/1/4/29917.jpg">

  <div class="container">
    <!-- START NAV -->
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <label for="hi">Logoff</label>
            <img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/logout-switch-off-shyt-down-computer-button-387460d67321b56a-512x512.png" alt="Logoff" id="hi">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" href="/loggedin">
              Home
            </a>
            <a class="navbar-item" href="/help">
              Help
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- END NAV -->

    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div class="column is-8 is-offset-2">

          <!-- START PROMO BLOCK -->
          <section class="hero is-bold is-small promo-block" style="background: linear-gradient(#FDBF01, #B53B03); ">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                   Take a knowlege journey on the surface of mars.....
                </h1>
              </div>
            </div>
          </section>
          <!-- END PROMO BLOCK -->

          <!-- START ARTICLE -->
          <div class="card article" style="background: rgba(0, 0, 0, 0.5);">
            <div class="card-content">
              <div class="media">
                <div class="media-center">
                    <img src="https://e3.365dm.com/18/01/1096x616/skynews-mars-space-sunrise_4209550.jpg?bypass-service-worker&20180119184723" class="author-image" alt="Placeholder image">
                </div>
              </div>
              <div style="background: rgba(0, 0, 0, 0.8);">
                <p style="color:white;" class="title article-title">Can you make it to the final checkpoint?</p>

            <div class="content article-body" style="background: rgba(0, 0, 0, 0.8);">
                <p style="color:white;">Non arcu risus quis varius quam quisque. Dictum varius duis at consectetur lorem. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. </p>
                <p style="color:white;">Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Accumsan lacus vel facilisis volutpat. Non sodales neque sodales ut etiam. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus.</p>
                <h3 style="color:white;" class="has-text-centered">Feugiat sed lectus vestibulum mattis.</h3>
              </div>
            </div>
            </div>
          </div>
          <!-- END ARTICLE -->
    </section>
    <!-- END ARTICLE FEED -->
  </div>
  <script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>