<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Select where you want to explore...</title>

    <script type="text/javascript">

   function changeFunc() {
    var selectBox = document.getElementById("selectBox");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
    if (selectedValue === "Curiosity") {
        document.getElementById("curiosimg").style.visibility = "visible";
    } else {
        document.getElementById("curiosimg").style.visibility = "hidden";
    }
   }

  </script>
</head>
<body>
<h1>Select where you want to explore...</h1>
<select id="selectBox" onchange="changeFunc();">
  <option value="Curiosity">Curiosity</option>
  <option value="Spirit">Spirit</option>
  <option value="Opportunity">Opportunity</option>
</select>
<img id = "curiosimg" src="https://www.nasa.gov/sites/default/files/thumbnails/image/pia19067_gupta-1-traverse_waypoints_sol0817.jpg" alt="Girl in a jacket" width="500" height="600" style="visibility: hidden;">
<textarea rows="4" cols="50">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea>
</body>
</html>